body{
    background-color: aliceblue;
    text-align: center;
}
#avenger{
    width: 1550px;
    height: 700px;
}
h1{
    font-size: 60px;
    color: hotpink;
    text-decoration: underline;
    text-decoration-color: deepskyblue;
    font-family: 'Pacifico', cursive;
}
img{
    height: 200px;
}